*{
  margin: 0; padding: 0;
  border: 0; outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3E5FAD;
}

.container{
  background: white;
  width: 400px;
  height: 380px;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.493);
}

.container .password{
  width: 100%;
  height: 40px;
  padding: 0 50px 0 20px;
  border-radius: 30px;
  font-size: large;
  background: #f5f5f5;
  border: 1px solid rgb(20,223,223);
  transition: .4s;
}

.container .password:focus { box-shadow: 0 0 30px aqua}

.container p {
  margin: 10px 10px 30px;
  opacity: 0.5;
  transition: 0.3s;
}

.container p span{
  font-size: 22px;
  color: rgb(26,43,68);
  margin-left: 45px;
}

.fa-check {opacity: 0;}
.fa-times {opacity: 1;}

.container p i{
  position: absolute;
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 30px;
  font-size: larger;
  border-radius: 50%;
  color: rgb(26,43,68);
  border: 2px solid rgb(26,43,68);
}

.container #show_hide {
  color: rgb(26,43,68);
  font-size: 22px;
  transform: translateX(260px) translateY(-34px);
  cursor: pointer;
}






